.hidden {
    display: none;
}

body {
    background-color: #353B3C;
    color: #EEF0F2;
    font-family: "Noto Sans";
    padding: 10px;
}

#start-game {
  margin-top: 30px;
}


#heading {
    padding-bottom: 50px;
}
.center {
  margin: auto;
  padding: 10px;
  text-align: center;
}




.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  background: #ffffff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 80s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:hover {
    background: #dbdbdb;
}

.button-85:hover:after {
    background: #dbdbdb;
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffff;
  left: 0;
  top: 0;
  border-radius: 10px;
}

select {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.custom-select {
	position: relative;
  display: inline-block;
}
.custom-select option {
  border-radius: 10px;
}


.custom-select select {
	appearance: none;
	-webkit-appearance: none;
  min-width: 50px;
	font-size: 18px;
	padding: 5px 10px 5px 10px;
	background-color: #FFFFFF;
	border: 0px solid #C4D1EB;
	border-radius: 10px;
	color: #000000;
	cursor: pointer;
	outline: none;
}

.custom-select select:focus {
	background: #F2F2F2;
	border: 0px solid #5A7EC7;
	border-radius: 10px;
}

.custom-select::after {
	content: "";
	position: absolute;
	pointer-events: none;
	top: 50%;
	right: 18px;
	transform: translate(0, -50%);
	width: 12px;
	height: 12px;
	background-color: #000000;
	clip-path: polygon(8% 17%, 0% 25%, 50% 84%, 100% 25%, 92% 17%, 50% 65%);
}



@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 60vh;
  --card-width: calc(var(--card-height) / 1.5);
  --card-color: 86, 195, 238;
}

.card {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  -webkit-tap-highlight-color: transparent;

  background: #191c29;
  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column; /* <-- Add this line */
  font-size: 1.5em;
  color: rgba(var(--card-color), 0);
  cursor: pointer;
  margin: auto ;
  margin-bottom: 50px;
}

.card:active {
  color: rgba(var(--card-color), 255);
}
.card:hover:before,
.card:hover:after {
  animation: none;
  opacity: 0;
}

.card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 20px;
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 5s linear infinite;
}

.card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}


.card-red {
  --card-color: 255, 93, 93
}